/* The current session and tabs */
.graphiql-container .graphiql-sessions {
    background-color: hsla(var(--color-neutral), var(--alpha-background-light));
    /* Adding the 8px of padding to the inner border radius of the query editor */
    border-radius: calc(var(--border-radius-12) + var(--px-8));
    display: flex;
    flex-direction: column;
    flex: 1;
    max-height: 100%;
    margin: var(--px-16);
    margin-left: 0;
    min-width: 0;
  }
  
  /* The session header containing tabs and the logo */
  .graphiql-container .graphiql-session-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: var(--session-header-height);
  }

  .graphiql-container .graphiql-session {
    display: flex;
    flex: 1;
    padding: 0 var(--px-8) var(--px-8);
  }


  /* All editors (query, variable, headers) */
.graphiql-container .graphiql-editors {
    background-color: hsl(var(--color-base));
    border-radius: calc(var(--border-radius-12));
    box-shadow: var(--popover-box-shadow);
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .graphiql-container .graphiql-editors.full-height {
    margin-top: calc(var(--px-8) - var(--session-header-height));
  }


  /* Generic drag bar for horizontal resizing */
.graphiql-container .graphiql-horizontal-drag-bar {
    width: var(--px-12);
    cursor: col-resize;
  }
  .graphiql-container .graphiql-horizontal-drag-bar:hover::after {
    border: var(--px-2) solid
      hsla(var(--color-neutral), var(--alpha-background-heavy));
    border-radius: var(--border-radius-2);
    content: '';
    display: block;
    height: 25%;
    margin: 0 auto;
    position: relative;
    top:  calc(100% - 25%) / 2;
    width: 0;
  }

    /* Generic drag bar for vertical resizing */
.graphiql-container .graphiql-vertical-drag-bar {
    height: var(--px-12);
    cursor: row-resize;
  }
  .graphiql-container .graphiql-vertical-drag-bar:hover::after {
    border: var(--px-2) solid
      hsla(var(--color-neutral), var(--alpha-background-heavy));
    border-radius: var(--border-radius-2);
    content: '';
    display: block;
    height: 25%;
    margin: 0 auto;
    position: relative;
    top: calc(100% - 25%) / 2 ;
    width: 0;
  }
