@tailwind base;
@tailwind components;
@tailwind utilities;

/* util classes */
.whitespace-break-spaces {
    white-space: break-spaces;
}

.pt-02 {
    padding-top: 0.2rem;
}
/* ----------------------*/

/* Global settings for ALL CodeMirror editors */
.CodeMirror {
    height: 100%;
    position: inherit;
    font-size: 1rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.CodeMirror-hints {
    font-size: 1rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New;
    color: rgb(var(--colors-neutral-50));
}

li.CodeMirror-hint-active {
    background-color: rgb(var(--colors-neutral-50));
    color: rgb(var(--colors-neutral-10));
}

.code-mirror-disabled-state {
    pointer-events: none;
    opacity: 0.85;
}
/* ----------------------*/


/* Documentation and Query explorer classes */
.doc-explorer-embedded {
    height: 100%;
    overflow-y: auto;
}

.doc-explorer-regular {
    height: calc(100% - 3rem);
    margin: 1rem;
    overflow-y: auto;
}

.graphiql-explorer-docs-container {
    position: absolute;
    left: 388px;
    margin: 5px 0;
    z-index: 100;
}
/* ----------------------*/


/* All GraphiQL v2 components */
.graphiql-container {
    --color-primary: 209, 100%, 42% !important; /* primary-50 */
    --color-secondary: 201, 100%, 55% !important; /* primary-30 */
    --color-tertiary: 199, 100%, 82% !important; /* primary-20 */
    --color-info: 208, 100%, 51% !important;
    --color-success: 157, 43%, 34% !important; /* success-50 */
    --color-warning: 45, 65%, 51% !important; /* warning-50 */
    --color-error: 346, 69%, 47% !important; /* danger-50 */
    --color-neutral: 213, 8%, 12% !important; /* neutral-50 */
    --color-base: 218, 31%, 95% !important; /* neutral-30 */

    --alpha-secondary: 0.9;
    --alpha-tertiary: 1;
    --alpha-background-heavy: 1;
    --alpha-background-medium: 0.4;
    --alpha-background-light: 0.1;
}
/* ----------------------*/

/* Query Explorer (OneGraph) */
.docExplorerWrap {
    overflow-y: auto !important;
    max-height: 92vh;
    font-size: 16px;
}

.docExplorerWrap .graphiql-explorer-root {
    font-size: 15px !important;
}

.docExplorerWrap .doc-explorer-title-bar {
    display: flex;
    justify-content: center;
    line-height: 22px;
    padding: 8px;
}

.docExplorerWrap .doc-explorer-contents {
    border-top: 1px solid #d6d6d6;
}

.docExplorerWrap .graphiql-explorer-actions select {
    border: 1px solid rgb(var(--colors-neutral-50));
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px;
}

.docExplorerWrap .graphiql-explorer-actions > span {
    display: none !important;
}

.docExplorerWrap .doc-explorer-rhs {
    display: none !important;
}

.graphiql-explorer-where span,
.graphiql-explorer-options span,
.graphiql-explorer-first span,
.graphiql-explorer-after span,
.graphiql-explorer-directed span,
.graphiql-explorer-edge span,
.graphiql-explorer-node span,
.graphiql-explorer-input span,
.graphiql-explorer-sort span {
    display: inline-flex;
    align-items: center;
}
/* ----------------------*/


/* Canny */
.Canny_BadgeContainer {
    pointer-events: none;
    right: unset !important;
}

.Canny_BadgeContainer .Canny_Badge {
    pointer-events: none;
    border-radius: 10px;
    background-color: rgb(var(--colors-primary-40));
    padding: 0.25rem;
    border: 1px solid rgb(var(--colors-primary-40));
}

@-moz-document url-prefix() { 
    .canny-indication-wrapper {
        padding-bottom: 0.25rem;
    }
}
/* ----------------------*/
