@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global settings for ALL CodeMirror editors */
.CodeMirror {
    height: 100%;
    font-size: 1rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.CodeMirror-hints {
    font-size: 1rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New;
    color: rgb(var(--colors-neutral-90));
}

li.CodeMirror-hint-active {
    background-color: rgb(var(--colors-neutral-90));
    color: rgb(var(--colors-neutral-10));
}

.code-mirror-disabled-state {
    pointer-events: none;
    opacity: 0.85;
}

.whitespace-break-spaces {
    white-space: break-spaces;
}

.pt-02 {
    padding-top: 0.2rem;
}

.graphiql-explorer-docs-container {
    position: absolute;
    left: 388px;
    margin: 5px 0;
    z-index: 100;
}

.graphiql-container .graphiql-explorer-actions select {
    border: 1px solid rgb(var(--colors-neutral-50));
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px;
}

.graphiql-container .graphiql-explorer-actions > span {
    display: none !important;
}

.Canny_BadgeContainer {
    pointer-events: none;
    right: unset !important;
}

.Canny_BadgeContainer .Canny_Badge {
    pointer-events: none;
    border-radius: 10px;
    background-color: rgb(var(--colors-primary-40));
    padding: 0.25rem;
    border: 1px solid rgb(var(--colors-primary-40));
}

@-moz-document url-prefix() { 
    .canny-indication-wrapper {
        padding-bottom: 0.25rem;
    }
}