@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global settings for ALL CodeMirror editors */
.CodeMirror {
    height: 100%;
    font-size: 1rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New;
    border-bottom-left-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
}

.CodeMirror-hints {
    font-size: 1rem;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono,
        Courier New;
    color: #282a36;
}

li.CodeMirror-hint-active {
    background-color: #282a36;
    color: #ffffff;
}

.code-mirror-disabled-state {
    pointer-events: none;
    opacity: 0.85;
}

.whitespace-break-spaces {
    white-space: break-spaces;
}

.pt-02 {
    padding-top: 0.2rem;
}

.graphiql-explorer-open-docs-container {
    position: absolute;
    left: 262px;
    top: 152px;
    z-index: 20;
}

.graphiql-explorer-docs-container {
    position: absolute;
    left: 373px;
    margin: 5px 0;
    z-index: 100;
}

.graphiql-container .graphiql-explorer-actions select {
    border: 1px solid #C4C8CD;
    margin-left: 5px;
    border-radius: 5px;
    padding: 3px;
}

.graphiql-container .graphiql-explorer-actions > span {
    display: none !important;
}