@font-face {
    font-family: 'nudistamedium';
    src: url('nudista_medium-webfont.woff2') format('woff2'),
         url('nudista_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nudistabold';
    src: url('nudista_bold-webfont.woff2') format('woff2'),
         url('nudista_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nudistalight';
    src: url('nudista_light-webfont.woff2') format('woff2'),
         url('nudista_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'nudistasemibold';
    src: url('nudista_semibold-webfont.woff2') format('woff2'),
         url('nudista_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
