name: "Documentation Build"

on:
  pull_request:
    branches:
      - dev
    paths:
      - "docs/**"

jobs:
  build-docs:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
      - name: Build documentation
        run: |
          npm install
          npm run build
          echo ${{ github.event.number }} > ./build/prnumber
        working-directory: docs/
      - name: Archive documentation
        uses: actions/upload-artifact@v2
        with:
          name: documentation
          path: docs/build/
