name: Issue labeled

on:
  issues:
    types: [labeled]

jobs:
  confirmed_label:
    if: ${{ github.event.label.name == 'confirmed' }}

    runs-on: ubuntu-latest

    steps:
      - name: Add comment
        uses: peter-evans/create-or-update-comment@v2.0.0
        with:
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            We've been able to confirm this bug using the steps to reproduce that you provided - many thanks @${{ github.event.issue.user.login }}! :pray: We will now prioritise the bug and address it appropriately.
      - uses: alex-page/github-project-automation-plus@v0.8.1
        with:
          project: Bug Triage
          column: Confirmed
          repo-token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
  add_high_priority_comment:
    if: ${{ github.event.label.name == 'high priority' }}

    runs-on: ubuntu-latest

    steps:
      - name: Add comment
        uses: peter-evans/create-or-update-comment@v2.0.0
        with:
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            This bug report has been assigned high priority to fix. If you wish to contribute a fix, please branch from `master` and submit your PR with the base set to `master`. Thanks!
