name: Issue labeled

on:
  issues:
    types: [labeled]

jobs:
  bug_report_label:
    if: ${{ github.event.label.name == 'bug report' }}

    runs-on: ubuntu-latest

    steps:
      - uses: alex-page/github-project-automation-plus@7ffb872c64bd809d23563a130a0a97d01dfa8f43 # v0.8.3
        with:
          project: Bug Triage
          column: Bug reports
          repo-token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
          action: add
      - name: Add comment
        uses: peter-evans/create-or-update-comment@ca08ebd5dc95aa0cd97021e9708fcd6b87138c9b # v3.0.1
        with:
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            Many thanks for raising this bug report @${{ github.event.issue.user.login }}. :bug: We will now attempt to reproduce the bug based on the steps you have provided.

            Please ensure that you've provided the necessary information for a minimal reproduction, including but not limited to:
            * Type definitions
            * Resolvers
            * Query and/or Mutation (or multiple) needed to reproduce

            If you have a support agreement with Neo4j, please link this GitHub issue to a new or existing Zendesk ticket.

            Thanks again! :pray:
  confirmed_label:
    if: ${{ github.event.label.name == 'confirmed' }}

    runs-on: ubuntu-latest

    steps:
      - name: Add comment
        uses: peter-evans/create-or-update-comment@ca08ebd5dc95aa0cd97021e9708fcd6b87138c9b # v3.0.1
        with:
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            We've been able to confirm this bug using the steps to reproduce that you provided - many thanks @${{ github.event.issue.user.login }}! :pray: We will now prioritise the bug and address it appropriately.
      - uses: alex-page/github-project-automation-plus@7ffb872c64bd809d23563a130a0a97d01dfa8f43 # v0.8.3
        with:
          project: Bug Triage
          column: Confirmed
          repo-token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
  add_high_priority_comment:
    if: ${{ github.event.label.name == 'high priority' }}

    runs-on: ubuntu-latest

    steps:
      - name: Add comment
        uses: peter-evans/create-or-update-comment@ca08ebd5dc95aa0cd97021e9708fcd6b87138c9b # v3.0.1
        with:
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
          issue-number: ${{ github.event.issue.number }}
          body: |
            This bug report has been assigned high priority to fix. If you wish to contribute a fix, please branch from `master` and submit your PR with the base set to `master`. Thanks!
