name: "Pull Request"

concurrency:
  group: ${{ github.head_ref }}
  cancel-in-progress: true

on:
  pull_request:
    branches:
      - dev
      - "*.*.*"
      - "*.x"
    paths-ignore:
      - "docs/**"

jobs:
  reviewdog-eslint:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: 18.13.0
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - uses: reviewdog/action-eslint@423672b7acbb75ee34d3e37aff30949ddc8350e3 # v1.24.0
        with:
          fail_on_error: true
          eslint_flags: "."
          node_options: "--max_old_space_size=4096"

  code-scanning:
    uses: ./.github/workflows/reusable-codeql-analysis.yml

  package-tests:
    uses: ./.github/workflows/reusable-package-tests.yml

  typescript-changes:
    runs-on: ubuntu-latest

    outputs:
      typescript: ${{ steps.filter.outputs.typescript }}
      typescript_files: ${{ steps.filter.outputs.typescript_files }}

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: filter
        with:
          list-files: shell
          filters: |
            typescript:
              - added|modified: 'packages/*/src/**/*.ts'

  license-header-check:
    needs: typescript-changes
    if: ${{ needs.typescript-changes.outputs.typescript == 'true' }}

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4
      - uses: actions/setup-go@cdcb36043654635271a94b9a6d1392de5bb323a7 # v5
        with:
          go-version: "^1.17.0"
      - name: Install addlicense
        run: go install github.com/google/addlicense@latest
      - name: Run addlicense
        run: addlicense -f ./addlicense -check ${{ needs.typescript-changes.outputs.typescript_files }}

  unit-tests:
    uses: ./.github/workflows/reusable-unit-tests.yml

  e2e-tests-plugins:
    uses: ./.github/workflows/reusable-subscriptions-plugin-amqp-e2e-test.yml

  api-library-tests:
    uses: ./.github/workflows/reusable-api-library-tests.yml

  integration-tests-on-prem:
    uses: ./.github/workflows/reusable-integration-tests-on-prem.yml

  federation-tests:
    uses: ./.github/workflows/reusable-federation-tests.yml

  quality-gate:
    if: ${{ always() }}
    needs:
      - reviewdog-eslint
      - code-scanning
      - package-tests
      - unit-tests
      - e2e-tests-plugins
      - api-library-tests
      - integration-tests-on-prem
      - federation-tests

    runs-on: ubuntu-latest

    steps:
      - name: Check Job Status
        run: |
          if [ ${{ needs.reviewdog-eslint.result }} != 'success' ] || 
            [ ${{ needs.code-scanning.result }} != 'success' ] ||
            [ ${{ needs.package-tests.result }} != 'success' ] ||
            [ ${{ needs.unit-tests.result }} != 'success' ] ||
            [ ${{ needs.e2e-tests-plugins.result }} != 'success' ] ||
            [ ${{ needs.api-library-tests.result }} != 'success' ] ||
            [ ${{ needs.federation-tests.result }} != 'success' ] ||
            [ ${{ needs.integration-tests-on-prem.result }} != 'success' ]; then
            echo "One or more jobs failed"
            exit 1
          else
            echo "Passed!"
          fi
