name: "Release"

on:
  push:
    branches:
      - release/*
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  cache-dependencies:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable

  unit-tests:
    needs:
      - cache-dependencies

    strategy:
      matrix:
        package:
          - graphql
          - ogm

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Run packages/${{ matrix.package }} unit tests
        run: yarn run test:unit --coverage
        working-directory: packages/${{ matrix.package }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/${{ matrix.package }}/coverage/
          flags: ${{ matrix.package }},unit
          fail_ci_if_error: true

  tck-tests:
    needs:
      - cache-dependencies

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Run TCK tests
        run: yarn --cwd packages/graphql run test:tck --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/graphql/coverage/
          flags: graphql,tck
          fail_ci_if_error: true

  schema-tests:
    needs:
      - cache-dependencies

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Run Schema tests
        run: yarn --cwd packages/graphql run test:schema --coverage
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/graphql/coverage/
          flags: graphql,schema
          fail_ci_if_error: true

  nextjs-app-setup:
    needs:
      - cache-dependencies

    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:latest
        env:
          NEO4J_AUTH: neo4j/mypassword
          NEO4JLABS_PLUGINS: '["apoc"]'
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable && yarn build
      - name: Setup Nextjs app
        run: chmod +x docs/modules/ROOT/examples/code-partials/nextjs/create-app.sh && cd packages && ../docs/modules/ROOT/examples/code-partials/nextjs/create-app.sh
      - name: Install dependencies
        run: |
          cd packages/neo4j-graphql-nextjs
          chmod +x ../../docs/modules/ROOT/examples/code-partials/nextjs/add-dependencies.sh && ../../docs/modules/ROOT/examples/code-partials/nextjs/add-dependencies.sh
      - name: Copy .env file
        run: cp docs/modules/ROOT/examples/code-partials/nextjs/env.example packages/neo4j-graphql-nextjs/.env.local
      - name: Create GraphQL endpoint
        run: cp docs/modules/ROOT/examples/code-partials/nextjs/graphql.js packages/neo4j-graphql-nextjs/pages/api/graphql.js
      - name: Start server
        run: cd packages/neo4j-graphql-nextjs && yarn dev &
      - name: Query the API and assert that there are no errors
        run: |
          sleep 10 &&
          RES=$(curl 'http://localhost:3000/api/graphql' -H 'Accept-Encoding: gzip, deflate, br' -H 'Content-Type: application/json' -H 'Accept: application/json' -H 'Connection: keep-alive' -H 'DNT: 1' -H 'Origin: http://localhost:3000' --data-binary '{"query":"{\n  movies {\n    title\n  }\n}"}' --compressed --silent)
          echo "$RES"
          echo "$RES" | grep -qv "error"

  package-tests:
    needs:
      - cache-dependencies

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - run: yarn build
      - name: Run @neo4j/graphql package tests
        run: yarn --cwd packages/graphql run test:package-tests

  integration-tests-on-prem:
    needs:
      - cache-dependencies

    strategy:
      matrix:
        package:
          - graphql
          - ogm
        neo4j-version:
          - 4.1.5
          - 4.1
          - 4.2.9
          - 4.2
          - 4.3.2
          - 4.3

    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:${{ matrix.neo4j-version }}-enterprise
        env:
          NEO4J_AUTH: neo4j/testpassword
          NEO4JLABS_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Run @neo4j/graphql integration tests and move coverage
        run: |
          yarn test:int --coverage
          mv coverage coverage-${{ matrix.neo4j-version }}
        working-directory: packages/${{ matrix.package }}
        env:
          NEO_USER: neo4j
          NEO_PASSWORD: testpassword
          NEO_URL: bolt://localhost:7687
      - name: Archive coverage report
        uses: actions/upload-artifact@v2
        with:
          name: integration-coverage-${{ matrix.package }}
          path: packages/${{ matrix.package }}/coverage-${{ matrix.neo4j-version }}/

  aura-teardown:
    needs:
      - cache-dependencies

    strategy:
      matrix:
        aura-instance:
          - free
          - professional

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Install ts-node and typescript
        run: npm install -g ts-node typescript
      - name: Uppercase instance name
        run: |
          lowercase_instance=${{ matrix.aura-instance }}
          echo "AURA_URI_SECRET=AURA_${lowercase_instance^^}_URI" >>${GITHUB_ENV}
          echo "AURA_PASSWORD_SECRET=AURA_${lowercase_instance^^}_PASSWORD" >>${GITHUB_ENV}
      - name: Delete all data in instance
        run: ts-node tests/integration/teardown.ts
        working-directory: packages/graphql
        env:
          NEO_USER: neo4j
          NEO_PASSWORD: ${{ secrets[env.AURA_PASSWORD_SECRET] }}
          NEO_URL: ${{ secrets[env.AURA_URI_SECRET] }}

  integration-tests-aura:
    needs:
      - aura-teardown

    strategy:
      matrix:
        package:
          - graphql
          - ogm
        aura-instance:
          - free
          - professional

    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Uppercase instance name
        run: |
          lowercase_instance=${{ matrix.aura-instance }}
          echo "AURA_URI_SECRET=AURA_${lowercase_instance^^}_URI" >>${GITHUB_ENV}
          echo "AURA_PASSWORD_SECRET=AURA_${lowercase_instance^^}_PASSWORD" >>${GITHUB_ENV}
      - name: Run @neo4j/graphql integration tests
        run: |
          yarn test:int -t '^(?!delete should delete a movie, a single nested actor and another movie they act in|update should delete a nested actor and one of their nested movies, within an update block)' --coverage
          mv coverage coverage-aura-${{ matrix.aura-instance }}
        working-directory: packages/${{ matrix.package }}
        env:
          NEO_USER: neo4j
          NEO_PASSWORD: ${{ secrets[env.AURA_PASSWORD_SECRET] }}
          NEO_URL: ${{ secrets[env.AURA_URI_SECRET] }}
      - name: Archive coverage report
        uses: actions/upload-artifact@v2
        with:
          name: integration-coverage-${{ matrix.package }}
          path: packages/${{ matrix.package }}/coverage-aura-${{ matrix.aura-instance }}/

  upload-integration-coverage:
    needs:
      - integration-tests-on-prem
      - aura-teardown
      - integration-tests-aura

    strategy:
      matrix:
        package:
          - graphql
          - ogm

    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: integration-coverage-${{ matrix.package }}
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: ${{ matrix.package }},integration
          fail_ci_if_error: true
          verbose: true

  bump-version:
    needs:
      - unit-tests
      - tck-tests
      - package-tests
      - upload-integration-coverage

    runs-on: ubuntu-latest

    outputs:
      version: ${{ steps.get-version.outputs.version }}

    steps:
      - uses: actions/checkout@v2
        with:
          # Fetch all history so yarn version works
          fetch-depth: 0
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Extract version from branch name
        id: get-version
        run: |
          version=$(echo ${{ github.ref }} | cut -d/ -f4)
          echo "::set-output name=version::$version"
      - name: Bump @neo4j/graphql version
        run: yarn version "${{ steps.get-version.outputs.version }}"
        working-directory: packages/graphql
      - name: Bump @neo4j/graphql-ogm version
        run: yarn version "${{ steps.get-version.outputs.version }}"
        working-directory: packages/ogm
      - name: Commit and push new version numbers
        run: |
          git config --global user.name 'Neo4j Team GraphQL'
          git config --global user.email 'team-graphql@neotechnology.com'
          git commit -am "Bump versions to ${{ steps.get-version.outputs.version }}"
          git push

  slack-release-notification:
    needs:
      - bump-version

    runs-on: ubuntu-latest

    steps:
      - name: Send Slack notification of upcoming release
        id: slack-notification
        uses: slackapi/slack-github-action@v1.14.0
        with:
          payload: '{"version":"${{ needs.bump-version.outputs.version }}"}'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_RELEASE_NOTIFICATION_WEBHOOK_URL }}

  pack:
    needs:
      - bump-version

    strategy:
      matrix:
        package:
          - graphql
          - ogm

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          ref: release/${{ needs.bump-version.outputs.version }}
      - uses: actions/setup-node@v2
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - run: yarn build
      - name: Pack ${{ matrix.package }}
        run: npm pack
        working-directory: packages/${{ matrix.package }}
      - name: Archive release tarball
        uses: actions/upload-artifact@v2
        with:
          name: release-tarballs
          path: packages/${{ matrix.package }}/neo4j-graphql-*.tgz

  npm-publish:
    needs:
      - bump-version
      - pack

    runs-on: ubuntu-latest

    environment:
      name: npm

    steps:
      - uses: actions/download-artifact@v2
        with:
          name: release-tarballs
      - name: npm publish
        run: |
          prerelease=$(echo ${{ needs.bump-version.outputs.version }} | cut -d- -f2)

          if [[ "$prerelease" =~ ^(alpha|beta|rc)\..* ]]; then
            tag="next"
          else
            tag="latest"
          fi

          npm config set @neo4j:registry https://registry.npmjs.org
          npm config set //registry.npmjs.org/:_authToken $NPM_TOKEN

          for tarball in *.tgz
          do
            npm publish $tarball --tag=$tag --access=public
          done
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}

  merge-tag-push:
    needs:
      - bump-version
      - npm-publish

    runs-on: ubuntu-latest

    environment:
      name: github

    steps:
      - uses: actions/checkout@v2
        with:
          ref: master
          fetch-depth: 0
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
      - name: git config
        run: |
          git config --global user.name 'Neo4j Team GraphQL'
          git config --global user.email 'team-graphql@neotechnology.com'
      - name: git merge
        run: git merge --no-ff origin/release/${{ needs.bump-version.outputs.version }} --strategy-option theirs
      - name: git tag
        run: |
          git tag -a @neo4j/graphql@${{ needs.bump-version.outputs.version }} -m "@neo4j/graphql@${{ needs.bump-version.outputs.version }}"
          git tag -a @neo4j/graphql-ogm@${{ needs.bump-version.outputs.version }} -m "@neo4j/graphql-ogm@${{ needs.bump-version.outputs.version }}"
      - name: git push
        run: git push --follow-tags

  delete-release-branch:
    needs:
      - bump-version
      - merge-tag-push

    runs-on: ubuntu-latest

    environment:
      name: github

    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.NEO4J_TEAM_GRAPHQL_PERSONAL_ACCESS_TOKEN }}
      - name: Delete release branch
        run: |
          git config --global user.name 'Neo4j Team GraphQL'
          git config --global user.email 'team-graphql@neotechnology.com'
          git push origin --delete release/${{ needs.bump-version.outputs.version }}

  changelog:
    needs:
      - bump-version
      - merge-tag-push

    strategy:
      matrix:
        package:
          - graphql
          - graphql-ogm

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Extract product label from tag
        id: get-label
        run: |
          label=$(echo ${{ matrix.package }} | cut -d- -f2)
          echo "::set-output name=label::$label"
      - name: Extract prerelease from version
        id: get-prerelease
        run: |
          prerelease=$(echo ${{ needs.bump-version.outputs.version }} | cut -d@ -f3 | cut -d- -f2)
          echo "::set-output name=prerelease::$prerelease"
      - name: Build Changelog
        id: github-release
        uses: mikepenz/release-changelog-builder-action@v1
        with:
          configuration: "config/release-changelog-builder-action/configuration-${{ steps.get-label.outputs.label }}.json"
          toTag: "@neo4j/${{ matrix.package }}@${{ needs.bump-version.outputs.version }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body: ${{ steps.github-release.outputs.changelog }}
          name: "@neo4j/${{ matrix.package }}@${{ needs.bump-version.outputs.version }}"
          tag_name: "@neo4j/${{ matrix.package }}@${{ needs.bump-version.outputs.version }}"
          prerelease: |
            ${{ startsWith(steps.get-prerelease.outputs.prerelease, 'alpha') }} ||
            ${{ startsWith(steps.get-prerelease.outputs.prerelease, 'beta') }} ||
            ${{ startsWith(steps.get-prerelease.outputs.prerelease, 'rc') }}

  slack-release-announcement:
    needs:
      - bump-version
      - changelog

    runs-on: ubuntu-latest

    steps:
      - name: Send Slack announcement of release
        id: slack-announcement
        uses: slackapi/slack-github-action@v1.14.0
        with:
          payload: '{"version":"${{ needs.bump-version.outputs.version }}"}'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_RELEASE_ANNOUNCEMENT_WEBHOOK_URL }}
