name: "Package tests"

on:
  workflow_call:

jobs:
  package-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: 18.13.0
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Build graphql
        run: yarn build
        working-directory: packages/graphql
      - name: Run @neo4j/graphql package tests
        run: yarn --cwd packages/graphql run test:package-tests
