name: "Unit tests"

on:
  workflow_call:
    inputs:
      disable-code-cov-upload:
        description: "Whether or not to upload the test coverage to CodeCov"
        required: false
        default: false
        type: boolean
    secrets:
      CODECOV_TOKEN:
        required: false
        description: "API token for Codecov, if it is available in the current context"

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  unit-tests:
    strategy:
      matrix:
        package:
          - graphql
          - ogm
          - introspector
          - graphql-amqp-subscriptions-engine

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@b39b52d1213e96004bfcb1c61a8a6fa8ab84f3e8 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Run packages/${{ matrix.package }} unit tests
        run: yarn run test:unit --coverage
        working-directory: packages/${{ matrix.package }}
      - if: ${{ env.CODECOV_TOKEN != '' && !inputs.disable-code-cov-upload && matrix.package == 'graphql' }}
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@eaaf4bedf32dbdc6b720b63067d99c4d77d6047d # v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/${{ matrix.package }}/coverage/
          flags: ${{ matrix.package }},unit
          fail_ci_if_error: true
      - if: ${{ env.CODECOV_TOKEN != '' && !inputs.disable-code-cov-upload && matrix.package == 'graphql' }}
        name: Archive coverage report
        uses: actions/upload-artifact@a8a3f3ad30e3422c9c7b888a15615d19a852ae32 # v3
        with:
          name: unit-coverage-${{ matrix.package }}
          path: packages/${{ matrix.package }}/coverage/
