name: "Integration tests (on-prem)"

on:
  workflow_call:
    inputs:
      disable-coverage-archival:
        description: "Whether or not to archive the test coverage"
        required: false
        default: false
        type: boolean

jobs:
  integration-tests:
    strategy:
      matrix:
        packages:
          [
            { package: "ogm", shard: 1/1, coverage_name: 1 },
            { package: "introspector", shard: 1/1, coverage_name: 2 },
            { package: "graphql", shard: 1/4, coverage_name: 3 }, 
            { package: "graphql", shard: 2/4, coverage_name: 4 },
            { package: "graphql", shard: 3/4, coverage_name: 5 },
            { package: "graphql", shard: 4/4, coverage_name: 6 },
          ]
        neo4j-version:
          #   - 4.4-community
          - 4.4-enterprise
          #   - 5-community
          - 5-enterprise
        graphql-version: [
          {
            version: "^15.0.0",
            coverage_path: 15
          },
          {
            version: "^16.0.0",
            coverage_path: 16
          }
        ]

    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:${{ matrix.neo4j-version }}
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - name: Check out repository code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn --immutable
      - name: Overwrite GraphQL version
        run: yarn up --exact graphql@${{ matrix.graphql-version.version }}
      - name: Run @neo4j/graphql integration tests and move coverage
        run: |
          yarn test:int --shard=${{ matrix.packages.shard }} --coverage
          mv coverage coverage-${{ matrix.neo4j-version }}-${{ matrix.graphql-version.coverage_path }}
        working-directory: packages/${{ matrix.packages.package }}
        env:
          NEO_USER: neo4j
          NEO_PASSWORD: password
          NEO_URL: bolt://localhost:7687
      - if: ${{ !inputs.disable-coverage-archival && matrix.packages.package == 'graphql' }}
        name: Archive coverage report
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        with:
          name: integration-coverage-${{ matrix.packages.package }}-${{ matrix.neo4j-version }}-${{ matrix.graphql-version.coverage_path }}-${{ matrix.packages.coverage_name }}
          path: packages/${{ matrix.packages.package }}/coverage-${{ matrix.neo4j-version }}-${{ matrix.graphql-version.coverage_path }}/

  merge-integration-tests-results:
    runs-on: ubuntu-latest
    needs: integration-tests
    steps:
      - if: ${{ !inputs.disable-coverage-archival }}
        name: Merge Artifacts
        uses: actions/upload-artifact/merge@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        with:
          name: integration-coverage
          pattern: integration-coverage-*
