name: "Package tests"

on:
  workflow_call:

jobs:
  package-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Build graphql
        run: yarn build
        working-directory: packages/graphql
      - name: Run @neo4j/graphql package tests
        run: yarn --cwd packages/graphql run test:package-tests
