name: "Apollo Federation Subgraph Compatibility"

on:
  workflow_call:

jobs:
  apollo-federation-subgraph-compatibility:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Build compatibility test subgraph
        run: |
          yarn build
        working-directory: packages/apollo-federation-subgraph-compatibility
      - uses: apollographql/federation-subgraph-compatibility@1f46c97fc518fbda88f9add78ad5b4fb39e2562c # v2.0.0
        with:
          # [Required] Docker Compose file to start up the subgraph
          compose: "packages/apollo-federation-subgraph-compatibility/docker-compose-gha.yml"
          # [Required] Path to the GraphQL schema file
          schema: "packages/apollo-federation-subgraph-compatibility/schema.graphql"
          # Boolean flag to indicate whether any failing test should fail the script
          failOnWarning: true
          # Boolean flag to indicate whether any failing required functionality test should fail the script
          failOnRequired: true
      - name: Save PR number
        env:
          PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          mkdir prnumber
          echo "$PULL_REQUEST_NUMBER" > ./prnumber/prnumber
      - name: Archive PR number
        uses: actions/upload-artifact@v3
        with:
          name: prnumber
          path: prnumber/
