name: "@neo4j/graphql specific tests"

on:
  workflow_call:
    inputs:
      disable-code-cov-upload:
        description: "Whether or not to upload the test coverage to CodeCov"
        required: false
        default: false
        type: boolean
    secrets:
      CODECOV_TOKEN:
        description: "API token for Codecov, if it is available in the current context"
        required: false

env:
  CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

jobs:
  tck-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        shard:
          - 1/4
          - 2/4
          - 3/4
          - 4/4
        graphql-version:
          - "^15.0.0"
          - "^16.0.0"
        neo4j-version:
          - 4.4-community
          - 4.4-enterprise
          - 5-community
          - 5-enterprise

    services:
      neo4j:
        image: neo4j:${{ matrix.neo4j-version }}
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Overwrite GraphQL version
        run: yarn up --exact graphql@${{ matrix.graphql-version }}
      - name: Run TCK tests
        run: yarn --cwd packages/graphql run test:tck --shard=${{ matrix.shard }} --coverage
        env:
          VERIFY_TCK: true
          NEO_USER: neo4j
      - if: ${{ env.CODECOV_TOKEN != '' && !inputs.disable-code-cov-upload }}
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@e0b68c6749509c5f83f984dd99a76a1c1a231044 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/graphql/coverage/
          flags: graphql,tck
          fail_ci_if_error: true

  e2e-tests:
    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:5-enterprise
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Run E2E tests
        run: yarn --cwd packages/graphql run test e2e --coverage
      - if: ${{ env.CODECOV_TOKEN != '' }}
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@e0b68c6749509c5f83f984dd99a76a1c1a231044 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/graphql/coverage/
          flags: graphql,e2e
          fail_ci_if_error: true

  schema-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4
      - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Run Schema tests
        run: yarn --cwd packages/graphql run test:schema --coverage
      - if: ${{ env.CODECOV_TOKEN != '' && !inputs.disable-code-cov-upload }}
        name: Upload coverage to Codecov
        uses: codecov/codecov-action@e0b68c6749509c5f83f984dd99a76a1c1a231044 # v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          directory: ./packages/graphql/coverage/
          flags: graphql,schema
          fail_ci_if_error: true
      - if: ${{ env.CODECOV_TOKEN != '' && !inputs.disable-code-cov-upload }}
        name: Archive coverage report
        uses: actions/upload-artifact@5d5d22a31266ced268874388b861e4b58bb5c2f3 # v4
        with:
          name: api-library-coverage-graphql
          path: packages/graphql/coverage/
