name: "@neo4j/graphql specific tests"

on:
  workflow_call:
    inputs:
      disable-coverage-archival:
        description: "Whether or not to archive the test coverage"
        required: false
        default: false
        type: boolean

jobs:
  tck-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        shard:
          - 1/4
          - 2/4
          - 3/4
          - 4/4
        version:
          [
            { graphql: "^15.0.0", neo4j: "5-enterprise" },
            { graphql: "^16.0.0", neo4j: "5-community" },
            { graphql: "^16.0.0", neo4j: "5-enterprise" },
          ]

    services:
      neo4j:
        image: neo4j:${{ matrix.version.neo4j }}
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Overwrite GraphQL version
        run: yarn up --exact graphql@${{ matrix.version.graphql }}
      - name: Run TCK tests
        run: yarn --cwd packages/graphql run test:tck --shard=${{ matrix.shard }} --coverage
        env:
          VERIFY_TCK: true
          NEO_USER: neo4j

  e2e-tests:
    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:5-enterprise
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Run E2E tests
        run: yarn --cwd packages/graphql run test e2e --coverage

  schema-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4
      - uses: actions/setup-node@0a44ba7841725637a19e28fa30b79a866c81b0a6 # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Run Schema tests
        run: yarn --cwd packages/graphql run test:schema --coverage
      - if: ${{ !inputs.disable-coverage-archival }}
        name: Archive coverage report
        uses: actions/upload-artifact@b4b15b8c7c6ac21ea08fcf65892d2ee8f75cf882 # v4
        with:
          name: api-library-coverage-graphql
          path: packages/graphql/coverage/
