name: "Apollo Federation Subgraph Compatibility"

on:
  workflow_call:

jobs:
  apollo-federation-subgraph-compatibility:
    runs-on: ubuntu-latest

    steps:
      - name: Check out repository code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Install webpack-cli
        run: yarn add -D webpack-cli
      - name: Build compatibility test subgraph
        run: |
          yarn build
        working-directory: packages/apollo-federation-subgraph-compatibility
      - uses: apollographql/federation-subgraph-compatibility@e92e69ea3a847b5136152c2d1525168c906ddb88 # v2.1.0
        with:
          # [Required] Docker Compose file to start up the subgraph
          compose: "packages/apollo-federation-subgraph-compatibility/docker-compose-gha.yml"
          # [Required] Path to the GraphQL schema file
          schema: "packages/apollo-federation-subgraph-compatibility/schema.graphql"
          # Boolean flag to indicate whether any failing test should fail the script
          failOnWarning: true
          # Boolean flag to indicate whether any failing required functionality test should fail the script
          failOnRequired: true
      - name: Save PR number
        env:
          PULL_REQUEST_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          mkdir prnumber
          echo "$PULL_REQUEST_NUMBER" > ./prnumber/prnumber
      - name: Archive PR number
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        with:
          name: prnumber
          path: prnumber/
