name: "@neo4j/graphql specific tests"

on:
  workflow_call:
    inputs:
      disable-coverage-archival:
        description: "Whether or not to archive the test coverage"
        required: false
        default: false
        type: boolean

jobs:
  tck-tests:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        shard:
          - 1/4
          - 2/4
          - 3/4
          - 4/4
        graphql-version:
          - "^15.0.0"
          - "^16.0.0"
        neo4j-version:
          - 4.4-community
          - 4.4-enterprise
          - 5-community
          - 5-enterprise

    services:
      neo4j:
        image: neo4j:${{ matrix.neo4j-version }}
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Overwrite GraphQL version
        run: yarn up --exact graphql@${{ matrix.graphql-version }}
      - name: Run TCK tests
        run: yarn --cwd packages/graphql run test:tck --shard=${{ matrix.shard }} --coverage
        env:
          VERIFY_TCK: true
          NEO_USER: neo4j

  e2e-tests:
    runs-on: ubuntu-latest

    services:
      neo4j:
        image: neo4j:5-enterprise
        env:
          NEO4J_AUTH: neo4j/password
          NEO4J_PLUGINS: '["apoc"]'
          NEO4J_ACCEPT_LICENSE_AGREEMENT: yes
        ports:
          - 7687:7687

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Run E2E tests
        run: yarn --cwd packages/graphql run test e2e --coverage

  schema-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332 # v4
      - uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4
        with:
          node-version: lts/*
          cache: yarn
      - name: Install dependencies
        run: yarn
      - name: Run Schema tests
        run: yarn --cwd packages/graphql run test:schema --coverage
      - if: ${{ !inputs.disable-coverage-archival }}
        name: Archive coverage report
        uses: actions/upload-artifact@834a144ee995460fba8ed112a2fc961b36a5ec5a # v4
        with:
          name: api-library-coverage-graphql
          path: packages/graphql/coverage/
