body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', sans-serif;
}

header {
    height: 4rem;
    background-color: #FFF;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e6e6e6;
}

.logo-group {
    display: flex;
    align-items: center;
}

.logo-group span {
    margin-left: 1.5rem;
    font-size: 1.2rem;
    font-weight: 100;
}

.logo {
    background: url('./assets/Neo4j-logo-color.svg') no-repeat left top;
    width: 80px;
    height: 2rem;
    cursor: pointer;
}

.places-logo {
    image-rendering: pixelated;
}

main {
    height: calc(100% - 8rem);
    padding: 1rem 0.5rem;
    background-color: rgb(246 247 250);
}

.canvas-main {
    background-color: #FFF;
    image-rendering: pixelated;
    border: 1px solid #e6e6e6;
}

.buttons-wrap {
    width: 300px;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    background-color: #FFF;
    display: none;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
    margin-top: 0.5rem;
}

.button-class {
    height: 3rem;
    width: 3rem;
    border: 1px solid #e6e6e6;
    border-radius: 5px;
    cursor: pointer;
}

.b-selected {
    border: 3px solid #d4d2d2;
}

footer {
    height: 4rem;
    width: 100%;
    background-color: #FFF;
    border-top: 1px solid #bfbfbf;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.f-text {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.f-link {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.top-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
        justify-content: flex-start;
    }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
